{% extends "base.html" %}

{% block title %}Crunch.io - Error Launching Cluster{% endblock %}

{% block content %}
<h2>Error Launching Cluster</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>The following cluster is already running:
    <ul>
        <li>Name: {{cluster_template.name}}</li>
        <li>Number of Nodes: {{cluster_template.number_of_nodes}}</li>
        <li>Type of Nodes: {{cluster_template.type_of_nodes}}</li>
    </ul>
</p>

<a href="{% url dash.cluster.views.dash %}">Back to the Dashboard</a>

{% endblock %}
