{% extends "base.html" %}

{% block title %}Crunch.io - Support{% endblock %}
{% block pagetitle %}Support{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Beta Support</h3>
<p>
During the beta period I am very eager to talk to users and hear their feedback,
frustrations and thoughts.  You have a few options for reaching me, Austin
Godber, at the moment.  You can email me at <a
href="mailto:godber@crunch.io?subject=[Crunch.io Support]">godber@crunch.io</a>.
Or if I appear to be online below you can try and chat with me.  I may not have
time at the moment, but there is no harm in trying.<br />
<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlql56hqd4j00e2ko9ch50ehljok84i0q5grdrmmt7jk95nfit4u17u5h979us6j6ehs38e17rfpais724h3ff2tdodioam2ltk79l8njk5948i55vuip3b14kfipmo6r6j7a94jkpil46h9daues94ahm26blb1ouq&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe>
</p>

<h3>General Support</h3>
<p>
For an idea of how I expect to handle support when Crunch.io is out of beta see the Crunch.io <a href="http://crunch.io/support.html">Support Policy</a>.
</p>
<p>
Other resources that might prove useful once they exist:
<ul>
    <li>Documentation - In progress</li>
    <li>Support Forums (GetSatisfaction)</li>
    <li>Contact Form</li>
</ul>
</p>


{% endblock %}
