{% extends "base.html" %}

{% block title %}Crunch.io - Account Password Change{% endblock %}
{% block pagetitle %}Password Change for {{user.username}}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
<div>

    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

    <fieldset>

    {% if form.errors %}
    <div class="box-error">
        Please correct the errors below.
    </div>
    {% endif %}


<div class="colgroup"> 
    <div class="column width1 first">
        <label for="id_old_password" class="required">Old password:</label>
    </div>
    <div class="column width2">
        {{ form.old_password }}
     </div>
    <div class="column width2">
        {{ form.old_password.errors }}
    </div>

    <div class="column width1 first">
        <label for="id_new_password1" class="required">New password:</label>
    </div>
    <div class="column width2">
        {{ form.new_password1 }}
    </div>
    <div class="column width2">
        {{ form.new_password1.errors }}
    </div>

    <div class="column width1 first">
        <label for="id_new_password2" class="required">Password (again):</label>
    </div>
    <div class="column width2">
        {{ form.new_password2 }}
    </div>
    <div class="column width2">
        {{ form.new_password2.errors }}
   </div>
</div>
</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="btn btn-green" />
    <a href="{% url dash.cluster.views.account %}">Cancel</a>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

<div class="clear">&nbsp;</div> 
{% endblock %}
