{% extends "single-column.html" %}
{% block register_current %}class=current{% endblock %}
{% block content %}

<h3> Register </h3>

<p>We have not yet opened registrations to the public.  If you are interested in
participating in the Crunch.io Beta please follow the link below and fill out the form
to join our Beta mailing list.</p>

<p>
<a href="http://crunch.us1.list-manage1.com/subscribe?u=4cb92fa8f7db8cbe863817335&id=eaab43b768"
   target="_blank">
    Beta Signup Form
</a>
</p>

<p><div class="box box-info">
    We will never share or sell your email address to anyone.
</div></p>

<div class="clear">&nbsp;</div> 

{% endblock %}

